{
  "extends": ["standard", "plugin:mocha/recommended"],
  "plugins": [
    "mocha",
    "@fintechstudios/eslint-plugin-chai-as-promised",
  ],
  "rules": {
    "no-var": "error",
    "mocha/max-top-level-suites": "off",
    "mocha/no-setup-in-describe": "off",
    "@fintechstudios/chai-as-promised/no-unhandled-promises": "error",
    "@fintechstudios/chai-as-promised/no-await-in-condition": "error"
  }
}