on:
  push:
    branches:
      - master
  pull_request:
    types: [ assigned, opened, synchronize, reopened, labeled ]
name: ci
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node: [
          18,
          20,
          lts/*
        ]
        os: [
          ubuntu-latest,
          windows-latest
        ]
    env:
        OS: ${{ matrix.os }}
        NODE_VERSION: ${{ matrix.node }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - run: git fetch --prune --unshallow
      - run: git config --global user.name 'Actions'
      - run: git config --global user.email 'dummy@example.org'
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - run: node --version
      - run: npm install --engine-strict
      - run: npm test
      - name: Codecov
        uses: codecov/codecov-action@v4
        with:
          env_vars: OS, NODE_VERSION
